<div class="container">
  <h1>My Notes</h1>
  <% if @notes %>
   <% @notes.each do |note| %>
   <p>
    <form action="/notes/<%=note.id %>" method="post">
     <input type="hidden" name="_method" value="delete" />
     <input type="submit" value="Delete" name="Delete"/>
   </form>
   <form action="/notes/<%=note.id %>/update" method="get">
     <input type="submit" value="Update" name="update"/>
   </form>
    <span>Title: </span><%= note.title %></p>

   <% end %>
  <% end %>

  <h5><a href="/notes/new">Create New Note</a><h5>
</div>
