<div class="container">
  <h1>You've Successfully Created a Note!</h1>
  
  <p><span>Title: </span><%= @note.title %></p>
  <p><span>Description: </span><%= @note.content %></p>
  <h6><a href="/create_note">Create Another Note</a><h6>
  <h6><a href="/">View All Notes</a><h6>
</div>