<div class="container">
  <h1>Update Note</h1>
  
  <form action="/notes/<%= @note.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <h4>Title</h4>
    <input type="text" value=<%= @note.title %> name="title"/>
    <h4>Description</h4>
    <input type="text" value=<%= @note.content %> name="content"/>
    <input type="submit" name="Update"/>
  </form>
</div>